<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <br>
      <br>

    <% if(session[:user_id]) %>
      <strong><%= User.find(session[:user_id]).username%></strong> is logged in
      <br>
      <br>

      <%= link_to "log out", logout_path%>
      <br>
      <br>
      <%= link_to  "Create Event", new_event_path %>
      <br>
      <br>
      <%= link_to  "Go to events", events_path %>
    <% else %>
      <%= link_to  "Register", new_user_path   %>
    <% end %>
    
  </body>
</html>
